*.bin
*.safetensors
*.pt
*.pth
*.ckpt
*.zip
*.tar
*.tar.gz
*.rar
*.bpe.model
__pycache__/
script/classification/kfold_checkpoints
script/functioncall/fineturn_functioncall/qwen_functioncall
script/functioncall/fineturn_functioncall/hermes-function-calling-thinking-V1
script/functioncall/fineturn_functioncall/qwen_functioncall_full_finetune
script/functioncall/fineturn_functioncall/results
script/functioncall/fineturn_functioncall/results_full_finetune
script/classification/bert-base-chinese
data/*
script/rag/data/图片示例
script/classification/data_raw
test
script/rag/data/chroma_db
script/rag/data/chroma_db_final
script/distillation/logs
script/distillation/wikitext
