*.bin
*.safetensors
*.pt
*.pth
*.ckpt
*.zip
*.tar
*.tar.gz
*.rar
*.bpe.model
__pycache__/
script/classification/kfold_checkpoints
script/functioncall/fineturn_functioncall/qwen_functioncall
script/functioncall/fineturn_functioncall/hermes-function-calling-thinking-V1
script/functioncall/fineturn_functioncall/qwen_functioncall_full_finetune
script/functioncall/fineturn_functioncall/results
script/functioncall/fineturn_functioncall/results_full_finetune
script/classification/bert-base-chinese